.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.input {
    width: 372px;
    height: 36px;
    padding: 0 12px;

    border: 1px solid #d1d1d1;
    border-radius: 5px;

    font: 400 14px "Montserrat", sans-serif;
    color: #000000;

    background: #FFFFFF;
    transition: border-color 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: #0066CC;
}

.superInput {
    border-color: #D9D9D9;
}

.errorInput {
    border-color: #CC1439;
    background-color: #FFF5F5;
}

.errorInput:focus {
    border-color: #CC1439;
}

.error {
    font: 400 10px/1.2 "Montserrat", sans-serif;
    color: #CC1439;
    margin-bottom: 4px;
}
