.buttonsContainer {
    display: flex;
    gap: 21px;
}

.clock {
    display: flex;
    flex-direction: column;
}

.watch {
    font: 400 20px "Montserrat", sans-serif;
    color: #000;
}

.watch strong {
    font: 600 20px "Montserrat", sans-serif;
}

.more {
    font: 400 16px "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 27px;
}
