.App {
    --header_height: 60px;
}

.hw {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 24px 70px;
}

.hwTitle {
    font: 600 22px "Montserrat", sans-serif;
    color: #000;
    margin: 70px 0 10px 70px;
}
