.burgerMenuIcon {
    height: 24px;
    width: 24px;
    align-self: center;
    margin-left: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
    padding: 20px 0;

}

.header h1 {
    font-family: "Montserrat", sans-serif;
    margin-right: 70px;
    align-self: center;
}
