.button {
    width: 123px;
    height: 30px;
    border-radius: 3px;
    border: none;
    padding: 5px 24px;
    color: #fff;
    font: 600 14px / 1.42857 "Montserrat", sans-serif;
}

.disabled {
    background: #004d99;
    opacity: 0.5;
}

.secondary {
    width: 176px;
    height: 30px;
    background-color: transparent;
    color: #06c;
    border: 1px solid #06c;
}

.default {
    background: #06c;
}

.red {
    background: #cc1439;
}

.default:hover {
    background: #0080ff;
}

.red:hover {

    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
    background: #0059b2;
}

.secondary:active {
    background: #c9e5ff;
}

.red:active {
    background: #b21232;
}

.button:disabled {
    cursor: not-allowed;
}
